body {
  font-family: Arial;
  margin: 0;
}


h1 {
  text-align: center;
  margin: 20px 0;
}


.feed {
  background: black;
  display: flex;
  flex-direction: column;   
  align-items: center;                  
  padding-bottom: 200px;
}


.post-header{
  background: white;
      width: 964px;
  height: 992px;
}


img {
  display: block;
      width: 964px;
  height: 661px;
  margin-bottom: 10px;
  margin-top: 10px;
}


.texto1 {
  background: white;
      width: 964px;
    height: 71px;
    font-size: 20px;
    padding: 10px;
  }
 


.texto2 {
 background: white;
  width: 964px;
 padding: 10px;
 font-size: 20px;
}


i {
  font-size: 50px;
}



.post-header p{
   font-size: 20px;
}





